body {
    margin: 0px;
    background-size: cover;
}

#body_container {
    margin: 0px;
    height: 100%;
}

.header {
    border-bottom: 4px solid rgb(215, 244, 230);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 10px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_icon {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.logo_box {
    margin-left: 20px;
    margin-right: 220px;
    width: fit-content;
    display: flex;
    align-items: center;
    /* vertical align*/
}

.logo_box img {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name {
    margin: 8px 0px 0px 5px;
    padding: 0px;
    padding-left: 635px;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bg-light{
    background-color: #726a6a;
}

.menu_icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu_bar {
    margin-top: 8px;
    align-content: center;
}

.menu_bar h3 {
    display: inline;
    margin-right: 30px;
    font-family: Fira Code;
    font-size: 14px;
    cursor: pointer;
    font-weight: 900;
}

.menu_bar h3:hover {
    /* text-decoration: underline; */
    border-bottom: 3px solid black;
}

#menu_widgets {
    border-bottom: 3px solid black;
}

.content_pane {
    margin: auto;
    margin-top: 70px;
    /* border: 1px solid red; */
    /* i use borders to see where the html elements are before I position them */
    width: 99%;
    font-family: 'Fira Code';
    font-weight: bold;
    display: flex;
}

.left_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    height: 50vh;
    background-color: rgb(85, 208, 156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

.left_panel input {
    width: 100%;
}

.strike {
    text-decoration: line-through;
}

td {
    width: 150px;
    max-width: 150px;
    object-fit: contain;
    /*
    border: 1px solid white;
    background-color: lightgray;
    */
    padding: 5px;
}

.left_panel h2 {
    border-bottom: 3px solid black;
}

.right_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
    background-color: rgb(85, 208, 156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

.right_panel h2 {
    border-bottom: 3px solid black;
}


.page_image {
    width: 95%;
    height: 87%;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    /* can remove this - it's just for visualization */
}

.margins {
    margin-top: 50px;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
}



.page_image {
    width: 500px;
    height: 500px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    object-fit: fill;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card {
    transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 320px) {}

/* ABOUT US */

body {
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#ourteam {
    margin-bottom: 25px;
    font-size: 3.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

.row {
    /* background-color: #fdf4a5; */
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid black;
    padding: 60px;
    margin: 10px;
    height: 800px;
}

#para{
    margin: 30px 0;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.column {
    float: inherit;
    width: 22%;
    margin: 16px;
    padding: 0 8px;
}


.card {
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.308);
    margin: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background: linear-gradient(315deg,
            #222222,
            #d3d2d2);
}


#one,#two,#three,#four {
    padding: 10px;
    margin: 20px;
    height: 500px;
    border: 1px solid gainsboro;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.card:hover {
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 3px solid black;
    border-radius: 8px;
}

.card h5{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

.card:hover h5 {
    color: rgb(255, 255, 255);
    transition: 0.1s;
    font-size: 1.1rem;
}

.about-section {
    padding: 50px;
    margin-bottom: 30px;
    text-align: center;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    color: black;
    color: white;
}

.container {
    border: 1px solid rgb(0, 0, 0);
    padding: 16px;
    border-radius: 6px;
    background: linear-gradient(315deg,
            #222222,
            #d3d2d2);

}

.row {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card img {
    margin-top: 7%;
    border: 2px solid rgb(43, 42, 42);
    height: 260px;
}


.title {
    color: white;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #03011b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.button:hover {
    background-color: #04033de5;
}

/* .footer {
    display: flex;
    padding: 25px 120px;
    justify-content: space-around;
}

.footer-right {
    text-align: center;
    color: rgb(9, 255, 0);
    padding: 10px 0;
}

.footer-first h1 {
    font-size: 3rem;
    font-family: 'Fira-Code', Times, serif;
} */

#github {
    color: white;
    font-size: small;
    margin: 0 5px;
    padding: 5px;
}

#github:hover {
    cursor: pointer;
    text-decoration: none;
}

#last{
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

#lasthr{
    margin: 1px;
    background-color: white;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
