.bg-image {
    background-size: cover;
    background-position: top;
    margin-top: 100px;
    min-height: 600px;
  }

.welcome-text {
    margin-top: 50px;
}

.login-heading {
    font-weight: 300;
    justify-content: center;
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 10px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    display: flex;
    align-items: center;
    z-index: 1;
}

a {
    text-decoration: none;
   color: white;
}

.logo_box {
    margin-left: 20px;
    margin-right: 350px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo_box img {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name {
    margin: 8px 0px 0px 5px;
    padding-left: 20px;
    font-size: 50px;
    font-family: 'Fira Code';
    color: white;
    font-weight: bold;
}

.menu_bar {
    margin-top: 8px;
    margin-left: 45%;
    margin-right: 0;
    float: left;
    color: white;
    display: block;
    text-align: center;
}

.menu_bar h3 {
    display: inline;
    margin-right: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.menu_bar h3:hover {
        text-decoration: none;
        border-bottom: none;
        color: rgba(255, 255, 255, 0.648);
    }

.a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a:hover {
    text-decoration: none;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.648);
}


/*added CSS */

body {
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  color: white;
}



#load {
  color: white;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  body {
    border-top: 16px solid #ffa100;
  }
}