body {
    margin: 0px;
    background-size: cover;
}

#body_container {
    margin: 0px;
    height: 100%;

}

.modal-content {
    background-color: #47ac7d;
    color: black;
}

.header {

    border-bottom: 4px solid rgb(215, 244, 230);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;

    font-size: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_icon {

    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.logo_box {
    margin-left: 20px;
    margin-right: 220px;
    width: fit-content;

    display: flex;
    align-items: center;
    /* vertical align*/
}

.logo_box img {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

#web_app_name {
    margin: 8px 0px 0px 5px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Fira Code';
    font-weight: bold;
}



.menu_icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}

.menu_bar {
    margin-top: 8px;
    align-content: center;
}

.menu_bar h3 {
    display: inline;
    margin-right: 22px;

    font-family: Fira Code;
    font-size: 14px;
    cursor: pointer;
    font-weight: 900;
}

.menu_bar h3:hover {
    /* text-decoration: underline; */
    border-bottom: 3px solid black;
}

#menu_calendar {
    border-bottom: 3px solid black;
}

.content_pane {
    margin: auto;
    margin-top: 70px;
    /* border: 1px solid red; */
    /* i use borders to see where the html elements are before I position them */
    width: 99%;
    font-family: 'Fira Code';
    font-weight: bold;
    display: flex;
}

.left_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    height: 50vh;
    background-color: rgb(85, 208, 156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

.left_panel input {

    width: 100%;
}

.strike {
    text-decoration: line-through;
}

tr {
    background-color: #009c53;
}

td {
    width: 150px;
    max-width: 150px;
    object-fit: contain;
    font-size: 16px;
    font-weight: bolder;
    /*
    border: 1px solid white;
    background-color: lightgray;
    */
    padding: 20px;
}

.left_panel h2 {

    border-bottom: 3px solid black;
}

.right_panel {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
    background-color: rgb(85, 208, 156);
    border: 1px solid black;
    box-shadow: 4px 6px lightgray;
}

.right_panel h2 {

    border-bottom: 3px solid black;
}


.page_image {
    width: 95%;
    height: 87%;

    background-color: aliceblue;
    /* can remove this - it's just for visualization */
}



.padding {
    padding-left: 100px;
    padding-right: 100px;
}

.right-main {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    color: white;
    padding-top: 200px;
    padding-left: 500px;

}

.cal-main {
    background-color: #000000a4;
    padding: 30px;
    height: 500px;
    width: 800px;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
}

th {
    color: rgb(0, 0, 0);
}

.bg-image {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    background-size: cover;
    background-position: top;
    margin-top: 0px;
    width: 100%;
    min-height: 600px;
}

/* Sidebar styles */
.sidebar {
    height: 100vh;

    /* Adjust the width as needed */
    background-color: #333;
    /* Sidebar background color */
    color: white;
    /* Text color */
    padding: 5px;
    /* Add padding for better appearance */
}

.sidebar svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 320px) {}



/* sidebar rishi */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-block;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background-color: #181717;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 70px;
    height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .name {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size: 14px;
    background-color: rgb(29, 28, 28);
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0 10px 10px black;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .name::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: rgb(29, 28, 28);
    top: 50%;
    left: 0;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .name {
    top: 10px;
    left: 80px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .name {
    text-shadow: 0px -1px 0px rgb(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}



.wrapper .show:hover,
.wrapper .show:hover .name,
.wrapper .show:hover .name::before {
    color: white;
    background-color: rgb(29, 28, 28);

}

.text {
	text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(109.6deg, rgba(254, 251, 251, 0.93) 11.2%, rgb(255, 253, 253) 78.9%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}