body {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
}

#body_container {
  margin: 0px;
  height: 100%;

}



a {
  text-decoration: none;
  color: #000;
}

.logo_box {
  margin-left: 20px;
  margin-right: 220px;
  width: fit-content;

  display: flex;
  align-items: center;
  /* vertical align*/
}

.logo_box img {
  margin: 8px 0px 0px 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
}

#web_app_name {
  margin: 8px 0px 0px 5px;
  padding: 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.content_pane {
  margin: auto;
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}



.page_image {
  width: 95%;
  height: 98%;

  /* background-color: aliceblue; can remove this - it's just for visualization */
}


@media screen and (min-width: 320px) {}

/* to do list styling */

.right_box {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  /*min-height: 100vh;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /* background-color: rgba(230 139 219 / 77%); */
  background-color: #b993f5a4;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

#to-do-heading {
  margin-left: 275px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px;
  font-size: 50px;
}

#to-do-heading h2 {
  font-size: 2rem;
}

.todo-container {
  width: 100%;
  min-height: 55vh;
  display: flex;

}

.status {
  width: 25%;
  border-right: 3px solid rgba(255, 255, 255, 0.801);
  border-radius: 15px;
  position: relative;
  padding: 60px 1rem 0.5rem;
}

#completed {
  border-right: none !important;
}

.status h2 {
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: #343434;*/
  color: #000000;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 6px;
}

#add_btn {
  border-radius: 25px;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 100%;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
  cursor: pointer;
}

#add_btn:hover {
  background-color: #ebe6f2a2;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  margin: 0.5rem 0;
}

.todo .close {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.todo .close:hover {
  color: #343444;
}

.sidebar {
  height: 100vh;
  background-color: #333;
  /* Sidebar background color */
  color: white;
  /* Text color */
  padding: 5px;
  /* Add padding for better appearance */
}

.sidebar svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}



/********* modal ***********/

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 15%;
}

.modal .header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.05);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#todo_input,
#todo_submit {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#todo_input {
  border: 1px solid black;
}

#todo_submit {
  background-color: #b993f5a4;
  color: #191919;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
}

#userCard {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

#logoutButton {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: .25rem;
}




/* NEWWW */

.sidebar {
  height: 100vh;
  background-color: #333;
  /* Sidebar background color */
  color: white;
  /* Text color */
  padding: 5px;
  /* Add padding for better appearance */
}

.sidebar svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}


/* sidebar rishi */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-block;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background-color: #181717;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 70px;
  height: 70px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .name {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 14px;
  background-color: rgb(29, 28, 28);
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 8px;
  box-shadow: 0 10px 10px black;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .name::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: rgb(29, 28, 28);
  top: 50%;
  left: 0;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .name {
  top: 10px;
  left: 80px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .name {
  text-shadow: 0px -1px 0px rgb(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}



.wrapper .show:hover,
.wrapper .show:hover .name,
.wrapper .show:hover .name::before {
  color: white;
  background-color: rgb(29, 28, 28);

}